:root { 
    --black: #000000;
    --black-transluscent: #00000036;
    --white: #ffffff;
    --light-gray: #f2f2f2;
    --gray: #E5E5E5FF;
    --dark-gray: #CCCCCCFF;
    --indigo: #2F2963;
    --indigo-hover: #393275;
    --twilight: #454372;
    --stats: #643456;
}

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

/*
---------------
FIRST HALF
---------------
*/

main {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
}

/*
---------------
NAVIGATION
---------------
*/

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 0.05rem;
}

.nav-item {
    display: block;
    flex: 1;

    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: var(--indigo);

    text-decoration: none;
    color: var(--white);
    text-align: center;
    font-size: 1.25rem;
    font-weight: bolder;

    transition: 0.25s;
}

.nav-item:hover {
    background-color: var(--indigo-hover);
    transition: 0.25s;
}

.nav-item:active {
    background-color: var(--twilight);
}

.active,
.active:hover,
.active:active {
    background-color: var(--twilight);
}

/*
---------------
MAIN CONTENT
---------------
*/

.main-content {
    padding: 1rem;
}

/*
---------------
SELECTION MENU
---------------
*/

.selection-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5%;

    height: 10%;
}

.selector {
    display: flex;
    flex: 0 1 25rem;
    flex-direction: column;
    justify-content: center;

    height: 100%;
}

label {
    display: block;
    font-weight: bold;
}

input {
    border: solid var(--black);
    border-width: 0.1rem;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    font: inherit;
    transition: 0.25s;
}

input:hover {
    background-color: var(--gray);
    transition: 0.25s;
}

input:active {
    background-color: var(--dark-gray);
}


input:focus {
    outline: none;
}

/* change from button to select itelf to style the button */
select {
    appearance: base-select;
    border-width: 0.1rem;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    transition-duration: 0.25s;
    align-items: center;
}

::picker(select) {
    appearance: base-select;

    border-width: 0.1rem;
    padding: 0.5rem 0;
    border-radius: 1rem;
    transition: width 0.5s;
    box-shadow: 0px 0px 1rem var(--black-transluscent);
}

/* hide checkmark */
option::checkmark {
    display: none;
}

/*
---------------
MAIN INFO
---------------
*/

.main-info {
    height: 90%;
    padding-top: 1rem;
}

.info-display {
    display: grid;

    grid-template-columns: 1fr minmax(0, 6fr) 1fr;
    height: 100%;
    min-height: 0; 
}

.chartContainer {
    display: flex;
    height: calc(100% - 2em);
    min-width: 0;
    min-height: 0;

    /* not using gap on .info-display due to needing to get rid of the gap between .stats on smaller screens */
    padding: 0 1rem 0 1rem;
}

.stats {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    min-width: 0;
    width: 100%;
    padding: 1rem;

    background-color: var(--stats);
    border-radius: 1rem;

    color: var(--white);
    font-size: clamp(1rem, 1.8vw, 2rem);
    font-weight: bold;
    white-space: pre-line;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

/*
---------------
SECOND HALF (TABLE)
---------------
*/

.table-section {
    height: 100vh;
    margin: 0;
    padding: 2rem;
}

.table-wrapper {
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 0.01rem solid var(--dark-gray);
    padding: 0.5rem;
}

tr:nth-child(even){background-color: var(--light-gray);}

tr:hover {background-color: var(--gray);}

th {
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    background-color: var(--stats);
    color: var(--white);
}

/*
---------------
MOBILE LAYOUT
---------------
*/

@media screen and (max-width: 800px) {
    .nav-item {
        font-size: 0.75rem;
        padding: 0.5rem 0 0.5rem 0;
    }

    .custom-view .selection-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 15%;
        font-size: 0.75rem;
    }

    .custom-view .main-info {
        height: 85%;
    }

    .info-display {
        display: flex;
        flex-direction: column;

        height: 100%;
        min-height: 0; 
    }

    .chartContainer {
        padding: 0 0 1rem 0;
    }

    .stats {
        flex-direction: row;
        order: 2;
        padding: 0;

        font-size: clamp(1rem, 3vw, 2rem);
    }

    #stats1 {
        border-radius: 1rem 1rem 0 0;
    }

    #stats2 {
        border-radius: 0 0 1rem 1rem;
    }
}